.add-photo {
  &--hr {
    border-bottom: 1px solid $secondary-dark;
  }
  &--hr-span {
    position: relative;
    margin-top: 30px;
    display: block;
  }
  &--or {
    position: relative;
    width: 50px;
    display: block;
    margin: 0 auto;
    top: -10px;
    text-align: center;
    background-color: $background;
    font-style: italic;
    font-weight: 600;
  }
  &--button {
    background-color: $primary;
    border-radius: 5px;
    border: 1px solid $primary-dark;
    color: $primary-text;
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-weight: 600;
    font-weight: 700;
    height: 35px;
    line-height: 35px;
    padding: 0 30px;
    text-decoration: none;
    transition: background-color 200ms ease-in;
    width: 100%;
    text-align: center;
  }
  &--paste-label {
    margin-top: 0px;
  }
  &--canvas {
    // border: 1px solid $secondary-dark;
    border-radius: 5px;
    margin-top: 4px;
    box-shadow: $depth-2;
  }
  &--preview {
    position: relative;
  }
  &--close {
    position: absolute;
    top: 48px;
    right: 10px;
    background-image: url(../../images/icons.svg);
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    background-position-x: -219px;
    background-position-y: 3px;
    border: 1px solid black;
    cursor: pointer;
  }
  &--base {
    position: absolute;
    background-image: url(../../images/icons.svg);
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
  }
  &--portrait-top {
    bottom: 68px;
    right: 10px;
    background-position-x: -122px;
    background-position-y: 3px;
  }
  &--portrait-center {
    bottom: 40px;
    right: 10px;
    background-position-x: -241px;
    background-position-y: 3px;
  }
  &--portrait-bottom {
    bottom: 12px;
    right: 10px;
    background-position-x: -146px;
    background-position-y: 4px;
  }
  &--landscape-right {
    bottom: 12px;
    right: 10px;
    background-position-x: -195px;
    background-position-y: 3px;
  }
  &--landscape-center {
    bottom: 12px;
    right: 40px;
    background-position-x: -241px;
    background-position-y: 3px;
  }
  &--landscape-left {
    bottom: 12px;
    right: 70px;
    background-position-x: -169px;
    background-position-y: 3px;
  }
}
