.outer {
   margin: 12px; 
}
.bus {
    max-width: $page-max-width;
    margin: 12px auto;
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    &--image {
        border-radius: 5px;
        box-shadow: $depth-1;
        cursor: zoom-in;
    }
    &--over-on {
        cursor: none;
    }
    &--over-off {
        cursor: zoom-in;
    }
    &--magnifier-on {
        position: absolute;
        border: 2px solid white;
        border-radius: 10px;
        cursor: none;
        width: 250px;
        height: 250px;
        pointer-events: none;  
        display: block;
        box-shadow: $depth-2;
    }
    &--magnifier-off {
        display: none;
    }
    &--bus-div {
        width: 100%;
    }
}
