.forgot {
  &--terms {
    color: lighten($secondary-text, 30%);
    font-weight: 200;
    margin: 0 auto;
    text-align: center;
    width: 70%;
  }
  &--terms a {
    font-size: 12px;
    font-weight: 600;
  }
  &--error {
    border: 1px solid $error-red !important;
  }
  &--right {
    color: lighten($secondary-text, 30%);
    cursor: pointer;
    display: block;
    font-size: 12px;
    text-align: right;
    width: 100%;
  }
  &--right:hover{
    text-decoration: underline;
  }
}
