.photo {
  &--preview {
    border-radius: 50%;
    box-shadow: $depth-1;
    cursor: pointer;
    height: 90px;
    width: 90px;
  }
  img {
    border: 1px solid $secondary-dark;
    box-shadow: $depth-1;
  }
}
