.photo {
    &--preview {
        width: 75px;
        height: 75px;
        cursor: pointer;
        border-radius: 50%;
        box-shadow: $depth-1;
    }
    img {
        border: 1px solid $secondary-dark;
        box-shadow: $depth-1;
    }
}
