.side-nav {
  background: $card-background;
  border-radius: 5px;
  border: 1px solid $secondary;
  box-shadow: $depth-1;
  grid-gap: 12px;
  padding-bottom: 12px;
  padding-top: 12px;
  size: 14px;

  & a{
    color: $secondary-text;
  }

  & a:hover {
    text-decoration: none;
  }

  &--divider {
    background-color: $secondary;
    display: block;
    height: 1px;
    margin: 12px 0px;
  }
  &--item {
    display: grid;
    font-size: 14px;
    font-weight: 400;
    grid-template-columns: 20px 1fr;
    line-height: 30px;
  }
  &--item::before {
    background-color: $transparent;
    content: '';
    width: 2px;
  }
  &--item:hover {
    font-weight: 500;
  }
  &--selected {
    background-color: $secondary;
    font-weight: 700;
  }
  &--selected::before {
    background-color: $primary;
    content: '';
    width: 3px;
  }
}
