.topnav {
  background-color: $card-background;
  height: $topnav-height;
  box-shadow: $depth-1;

  &--container {
    max-width: $page-max-width;
    display: grid;
    grid-template-columns: $logo-width 1fr auto;
    height: $topnav-height;
    align-items: center;
    margin: 0 auto;
    padding: 0 $spacing-1;
  }
  &--logo a {
    background-image: url(../../images/logo.svg);
    width: $logo-width;
    height: $logo-height;
    display: block;
    text-indent: 300px;
    overflow: hidden;
    background-repeat: no-repeat;
  }
  &--buttons {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: $spacing-1;
  }

  &--buttons a {
    text-decoration: none;
  }

  &--avatar {
    color: $secondary-text;
    font-weight: 700;
    background-color: $secondary;
    display: block;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 12px;
    padding: 4px 20px 4px 4px;
    border-radius: 17.5px;
    img {
      height: 30px;
      width: 30px;
      border-radius: 50%;
    }
  }
}
