.topnav {
  background-color: $card-background;
  box-shadow: $depth-1;
  height: $topnav-height;

  &--container {
    align-items: center;
    display: grid;
    grid-template-columns: $logo-width 1fr auto;
    height: $topnav-height;
    margin: 0 auto;
    max-width: $page-max-width;
    padding: 0 $spacing-1;
  }
  &--logo a {
    background-image: url(../../images/logo.svg);
    background-repeat: no-repeat;
    display: block;
    height: $logo-height;
    overflow: hidden;
    text-indent: 300px;
    width: $logo-width;
  }
  &--buttons {
    display: grid;
    grid-gap: $spacing-1;
    grid-template-columns: auto auto;
  }

  &--buttons a {
    text-decoration: none;
  }

  &--avatar {
    align-items: center;
    background-color: $secondary;
    border-radius: 24px;
    color: $secondary-text;
    display: block;
    display: grid;
    font-weight: 700;
    grid-gap: 12px;
    grid-template-columns: repeat(2, auto);
    padding: 4px 20px 4px 4.5px;
    img {
      border-radius: 50%;
      height: 30px;
      width: 30px;
    }
  }
}
