.topnav {
  background-color: $card-background;
  box-shadow: $depth-1;
  height: $topnav-height;
  border: 1px solid $secondary;
  &--search {
    margin: 0 24px;
  }
  &--search-form {
    padding: 0px !important;
  }
  &--search-input {
    height: 34px !important;
    background-color: $background !important;
    border: 1px solid transparent !important;
    text-indent: 30px;
    background-image: url(../../images/search.svg);
    background-repeat: no-repeat;
    background-position-x: 12px;
    background-position-y: 9px;
  }

  &--search-input:focus {
    height: 34px !important;
    background-color: $background !important;
    border: 1px solid $primary !important;
  }
  &--profile {
    padding-left: 24px;
  }
  &--profile::before {
    content: '';
    width: 30px;
    position: relative;
    left: -6px;
    top: 7px;
    background-image: url(../../images/icons.svg);
    background-position: -14px 0px;
    height: 16px;
    width: 18px;
    background-repeat: no-repeat;
  }
  &--container {
    align-items: center;
    display: grid;
    grid-template-columns: $logo-width 1fr auto;
    height: $topnav-height;
    margin: 0 auto;
    max-width: $page-max-width;
    padding: 0 $spacing-1;
  }
  &--logo a {
    background-image: $logo;
    background-repeat: no-repeat;
    display: block;
    height: $logo-height;
    overflow: hidden;
    text-indent: 300px;
    width: $logo-width;
  }
  &--buttons {
    display: grid;
    grid-gap: $spacing-1;
    grid-template-columns: auto auto;
  }

  &--buttons a {
    text-decoration: none;
    position: relative;
  }
  &--dropdownon {
    display: block !important;
  }
  &--dropdown {
    border: 1px solid $secondary;
    display: none;
    position: absolute;
    width: 200px;
    top: 38px;
    right: 0px;
    background-color: $card-background;
    border-radius: 5px;
    box-shadow: $depth-2;
    z-index: 9999;
    padding-bottom: 12px;
    padding-top: 12px;
    hr {
      border-bottom: 1px solid $background;
      margin: 12px 0;
    }
  }
  &--item {
    display: grid;
    font-size: 14px;
    font-weight: 400;
    grid-template-columns: 20px 1fr;
    line-height: 30px;
    text-indent: 20px;
    cursor: pointer;
  }
  &--item:hover {
    font-weight: 500;
    background-color: $secondary;
    
  }

  &--avatar {
    cursor: pointer;
    position: relative;
    align-items: center;
    background-color: $secondary;
    border-radius: 24px;
    color: $secondary-text;
    display: block;
    display: grid;
    font-weight: 700;
    grid-gap: 12px;
    grid-template-columns: repeat(2, auto);
    padding: 4px 20px 4px 4.5px;
    img {
      border-radius: 50%;
      height: 30px;
      width: 30px;
    }
  }
}
