.warning {
  align-items: center;
  background-color: $primary;
  color: $primary-text;
  display: grid;
  height: $warning-height-mobile;
  line-height: 17px;
  position: relative;
  width: 100%;
  
  & a {
    color: $primary-text;
  }
  &-enter {
    height: 0px;
    opacity: 0;
  }
  &-enter-active {
    height: $warning-height-mobile;
    opacity: 1;
    transition: height 300ms ease-in, opacity 300ms ease-in;
  }
  &-exit {
    height: $warning-height-mobile;
    opacity: 1;
  }
  &-exit-active {
    height: 0px;
    opacity: 0;
    transition: height 300ms ease-in, opacity 300ms ease-in;
  }
}

.warning-text {
  padding: 0 6px 0 6px;
  position: absolute;
  text-align: center;
  top: 7px;
  width: 100%;
  &-enter {
    opacity: 0;
  }
  &-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
  }
  &-exit {
    opacity: 1;
  }
  &-exit-active {
    opacity: 0;
    transition: opacity 300ms ease-in;
  }
}

@media (min-width:641px) {
  .warning {
    height: $warning-height;
    line-height: 27px;
    &-enter-active {
      height: $warning-height;
    }
    &-exit {
      height: $warning-height;
    }
  }
}
