.form {
  background-color: $card-background;
  border-radius: 5px;
  border: 1px solid $secondary;
  box-shadow: $depth-1;
  padding: 0px;
  &--error {
    border: 1px solid $error-red !important;
  }
  &--relative {
    position: relative;
  }
  &--dob-year {
    max-width: 90px !important;
  }
  &--dob-month {
    max-width: 150px !important;
  }
  &--dob-day {
    max-width: 90px !important;
  }
  &--radio-label {
    cursor: pointer;
    display: inline-block;
    line-height: 24px;
    margin-top: 0px;
    width: auto;
  }
  &--radio-label {
    max-width: 100px;
  }
  &--radio-label span{
    font-weight: 400;
    padding: 1px 25px 0 6px;
  }
  &--file-upload {
    background-color: $dark-purple;
    border-radius: 5px;
    border: 1px solid black;
    color: $white;
    cursor: pointer;
    max-width: 250px;
    padding: 11px 0;
    text-align: center;
  }
  &--photo-upload {
    background-color: $dark-purple;
    border-radius: 5px;
    border: 1px solid black;
    color: $white;
    cursor: pointer;
    max-width: 250px;
    padding: 11px 0;
    text-align: center;
  }
  &--title {
    border-bottom: 1px solid $background;
    font-size: 16px;
    font-weight: 700;
    padding: 17px;
  }
  &--footer {
    display: grid;
    grid-template-columns: auto;
    padding: 17px;
    button {
      height: 35px;
      margin: 0px;
    }
    small {
      line-height: 34px;
      opacity: 0.5;
    }
  }
  &--body {
    align-items: stretch;
    border-bottom: 1px solid $background;
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: stretch;
    padding: 17px 17px 47px 17px;
    input[type='text'],
    input[type='password'], 
    input[type='number'], 
    textarea, select {
      background-color: $secondary;
      max-width: 100%;
    }
    label {
      font-size: 13px;
      font-weight: bold;
      position: relative;
    }
    span {
      position: relative;
    }
    small {
      display: block;
      font-size: 12px;
      color: $secondary-dark;
      font-weight: 600;
    }
  }
}

@media (min-width:641px) {
  .form {
    &--body {
      grid-template-columns: 1fr 4fr;
      label {
        width: 65%;
      }
    }
    &--footer {
      grid-template-columns: 1fr auto;
    }
  }
}
