.warningnav-appear, .warningnav-enter {
    padding-top: $topnav-height;
  }
  .warningnav-appear-active, .warningnav-enter-active {
      padding-top: $warning-height + $topnav-height;
      transition-delay: 1ms;
      transition-duration: 400ms;
      transition-property: padding-top;
      transition-timing-function: ease-in-out;
  }
  .warningnav-appear-done, .warningnav-enter-done {
    padding-top: $warning-height + $topnav-height;
  }

  .warningnav-exit {
    top: $warning-height + $topnav-height;
  }
  .warningnav-exit-active {
    top: $topnav-height;
    transition-delay: 200ms;
    transition-duration: 200ms;
    transition-property: top;
    transition-timing-function: ease-in-out;
  }
  .warningnav-exit-done {
    top: $topnav-height;
  }