.warning-text {
    width: 100%;
    text-align: center;
    font-size: 11px;
  }
  .warning-text span {
    display: none;
  }
  .warning-text b {
    cursor: pointer;
    color: white;
  }
  .warningtext-enter {
    opacity: 0;
  }
  .warningtext-enter-active {
    opacity: 1;
    transition: opacity 600ms ease-in-out;
  }
  .warningtext-enter-done {
    opacity: 1;
  }
  .warningtext-exit {
    opacity: 1;
  }
  .warningtext-exit-active {
    opacity: 0;
    transition: opacity 600ms ease-in-out;
  }
  .warningtext-exit-done {
    opacity: 0;
  }



/* Tablets */
@media only screen and (min-width : 413px) {
  .warning-text span{
    display: inline;
  }
}
